.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
Output/
Output/*
Data/leaf_spectra_barrow_2013_20180824_ecosis.csv
*.csv
*.rds
*.jpg
*.pdf
*.tif
*.rds
gui.py
download.sh
Scripts/download.sh
Scripts/download.sh
Scripts/download.sh
Scripts/download.sh
Output/full_model_results.csv
