.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
Output/
Output/*
Output/Fnc_grp1_spectral_profiles_PFT_IMG_SPECTRA_ALL.jpg
Data/leaf_spectra_barrow_2013_20180824_ecosis.csv
Data/Ground_Validation/PFT_image_spectra/PFT_Image_SpectralLib_Clean.csv
Data/Ground_Validation/PFT_image_spectra/
*.rds
*.jpg
*.pdf
*.tif
*.rds
*.png
gui.py
download.sh
Scripts/download.sh
Output/full_model_results.csv
BisonGulch_raw_1511_rd_rf_or.zip
raw_1511_rd_rf_or
raw_1511_rd_rf_or.hdr
Functions/tiles/
Functions/tiles/*
predictions_*
mle/validation.csv
mle/trainingData.csv
levels.csv
mle/colnames.csv
mle/datacube_conversion_9105.csv
tiles/*
prediction*
test/test_data/*
lecospec.Rproj
validation_saved_output.gri
validation_saved_output.grd

# forced includes
!Data/Ground_Validation/training/*
mle/experiments.zip
mle/experiments/**/*
mle/models/gs/*
mle/models/**/*
gs*.log
validation_test.csv
training-archive.zip
results
gs3_*.csv
test/inputs/one_row_tile.envi
test/inputs/one_row_tile.hdr
test/inputs/one_row_tile.xml
test/tile_OOLbrHVnjwdOlN78/tile_adtg644Tm4WLhXfi.envi
test/tile_OOLbrHVnjwdOlN78/tile_adtg644Tm4WLhXfi.envi.aux.xml
test/tile_OOLbrHVnjwdOlN78/tile_adtg644Tm4WLhXfi.hdr
test/tile_OOLbrHVnjwdOlN78/tile_AErwXkNDISEpQsRk.envi
test/tile_OOLbrHVnjwdOlN78/tile_AErwXkNDISEpQsRk.envi.aux.xml
test/tile_OOLbrHVnjwdOlN78/tile_AErwXkNDISEpQsRk.hdr
test/tile_OOLbrHVnjwdOlN78/tile_apnUfZPQyJOLKo2u.envi
test/tile_OOLbrHVnjwdOlN78/tile_apnUfZPQyJOLKo2u.envi.aux.xml
test/tile_OOLbrHVnjwdOlN78/tile_apnUfZPQyJOLKo2u.hdr
test/tile_OOLbrHVnjwdOlN78/tile_cXhlY5PVkmxptcU1.envi
test/tile_OOLbrHVnjwdOlN78/tile_cXhlY5PVkmxptcU1.envi.aux.xml
test/tile_OOLbrHVnjwdOlN78/tile_cXhlY5PVkmxptcU1.hdr
test/tile_OOLbrHVnjwdOlN78/tile_DYy4pDv4d7MxLnKw.envi
test/tile_OOLbrHVnjwdOlN78/tile_DYy4pDv4d7MxLnKw.envi.aux.xml
test/tile_OOLbrHVnjwdOlN78/tile_DYy4pDv4d7MxLnKw.hdr
test/tile_OOLbrHVnjwdOlN78/tile_l2QZ9Qi0QMc0YDDU.envi
test/tile_OOLbrHVnjwdOlN78/tile_l2QZ9Qi0QMc0YDDU.envi.aux.xml
test/tile_OOLbrHVnjwdOlN78/tile_l2QZ9Qi0QMc0YDDU.hdr
test/tile_OOLbrHVnjwdOlN78/tile_uNg9oh3y7bSYAoXn.envi
test/tile_OOLbrHVnjwdOlN78/tile_uNg9oh3y7bSYAoXn.envi.aux.xml
test/tile_OOLbrHVnjwdOlN78/tile_uNg9oh3y7bSYAoXn.hdr
test/tile_OOLbrHVnjwdOlN78/tile_zTOEoIhGOb8DbAZp.envi
test/tile_OOLbrHVnjwdOlN78/tile_zTOEoIhGOb8DbAZp.envi.aux.xml
test/tile_OOLbrHVnjwdOlN78/tile_zTOEoIhGOb8DbAZp.hdr
