.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
Output/
Output/*
Data/leaf_spectra_barrow_2013_20180824_ecosis.csv
*.rds
*.jpg
*.pdf
*.tif
*.rds
gui.py
download.sh
Scripts/download.sh
Scripts/download.sh
Scripts/download.sh
Scripts/download.sh
Output/full_model_results.csv
Output/full_model_results.csv
BisonGulch_raw_1511_rd_rf_or.zip
raw_1511_rd_rf_or
raw_1511_rd_rf_or.hdr
Functions/tiles/
Functions/tiles/*
predictions_*
mle/validation.csv
mle/trainingData.csv
levels.csv
mle/colnames.csv
mle/datacube_conversion_9105.csv
tiles/*
